<!DOCTYPE html>
<html>
  <head>
    <%- partial("_shared/_head") %>
  </head>
  <body class="Site">
    <%- partial("_shared/_header") %>
<main class="Site-content">
      <%- yield %>
</main>

<%- partial("_shared/_footer") %>

  </body>
</html>
