<header>
<% for(var slug in public.posts._data){ %>
  <h1><a href="/posts/<%= slug %>"><%= public.posts._data[slug].blogtitle %></a></h1>
  <h3>- <%= public.posts._data[slug].blogslug %></h3>
<% }; %>
</header>
